@model List<WorkPendingApprovalListViewModel>

@{
    ViewData["Title"] = "WorksAppRovedList";
}

<body>
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row justify-between g-2 with-export">
                    <div id="DataTables_Table_3_filter" class="dataTables_filter">
                        <label>
                            <input type="search" id="searchInput" class="form-control form-control-sm" placeholder="Ara" aria-controls="DataTables_Table_3">
                        </label>
                    </div>
                </div>
@*                <div class="col-5 col-sm-8 text-end">
                    <div class="datatable-filter">
                        <div class="d-flex justify-content-end g-2">
                            <div class="dt-export-buttons d-flex align-center">
                                <div class="dt-export-title d-none d-md-inline-block">Dışa Aktar</div>
                                <div class="dt-buttons btn-group flex-wrap">
                                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" type="button"><span>Copy</span></button>
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" type="button" id="exportToExcel"><span>Excel</span></button>
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" type="button"><span>CSV</span></button>
                                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" type="button"><span>PDF</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
*@            </div>
            <div class="table-responsive">
                <table class="nowrap table dtr-inline" data-export-title="Dışa Aktar" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info">
                    <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">İşi Açan</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">İş Emri Numarası</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">İşin Konusu</th>

                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending">İşin Açılma Tarihi</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending">Talep Edilen Tarih</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">@item.WhoIsCreate</td>
                                <td>@item.WorkOrderNumber</td>
                                <td>@item.Title</td>
                                <td>@item.Create</td>
                                <td>@item.DeadLine</td>
                                <td>@item.Status</td>
                                <td>
                                    <a class="btn btn-secondary" type="submit" asp-controller="Work" asp-action="WorkStatusApprovalDetail" asp-route-id="@item.Id">Onaylamak için</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


